 <h1>Louer la voiture de vos rêves?</h1>
 <h1>Avec LuxeRentCarFms c'est possible </h1>
<div class="car-container">
  <div class="car-card" *ngFor="let car of cars">
    <img [src]="car.processedImg" 
    alt="Car Image" 
    class="car-image" 
    [class.disabled]="!isLoggedIn"
    (click)="openCarDetail(car.id)" />
    <div class="car-details" style="text-align: center;">
      <h3>{{ car.marque }} {{ car.modele }}</h3>
      <p><strong>Année:</strong> {{ car.annee }}</p>
      <p><strong>Couleur:</strong> {{ car.couleur }}</p>
      <p><strong>Kilométrage:</strong> {{ car.kilometrage }} km</p>
      <p><strong>Prix:</strong> {{ car.prix }} €/jour</p>
       <p>
        <button class="btn btn-success" (click)="openCarDetail(car.id)">Réserver</button>
      </p>
    </div>
  </div>

