<div class="d-flex justify-content-center">


  <div class="car shadaw-sm" *ngIf="car" style="max-width: 600px;">

    <img *ngIf="existingImage" [src]="existingImage" alt="Car Image" class="card-img-top img-fluid"
      style="max-height: 300px; object-fit: cover;" />
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title">{{ car.marque }} {{ car.modele }}</h5>

      <ul class="list-group list-group-flush mb-3">


      </ul>
      <li class="list-group-item"><strong>Année:</strong> {{ car.annee }}</li>
      <li class="list-group-item"><strong>Couleur:</strong> {{ car.couleur }}</li>
      <li class="list-group-item"><strong>Kilométrage:</strong> {{ car.kilometrage }} km</li>
      <li class="list-group-item"><strong>Prix:</strong> {{ car.prix }} €</li>
      <li class="list-group-item"><strong>Description:</strong> {{ car.description }}</li>

      <!-- Formaulaire de réservation -->
      <div class="mt-3">
        <h5>Réserver cette voiture</h5>
        <form (ngSubmit)="reserveCar()">
          <div class="mb-3">
            <label for="startDate" class="form-label">Date de début</label>
            <input type="date" id="startDate" class="form-control" name="startDate" 
            [(ngModel)]="reservation.startDate" required>
          </div>
          
          <div class="mb-3">
            <label for="endDate" class="form-label">Date de fin</label>
            <input type="date" id="endDate" class="form-control" name="endDate"
             [(ngModel)]="reservation.endDate" required>
          </div>
          <div class="alert alert-info" role="alert">
            <p>Total de Votre Réservation: {{ sommeTotal()? sommeTotal() : 0 }} €
            </p>
          </div>
          <button type="submit" class="btn btn-primary" >Réserver et Toujours Payer en Cash</button>
        </form>
        
      </div>
    </div>
  </div>